#output{
    display:block;
    margin-left: 10px;
    margin-right: 10px;
}
#Name{
    background-color: rgb(241, 199, 206);
}
#EmailId{
    background-color:rgb(245, 212, 245)
}
#DOB{
    background-color:rgb(233, 236, 190)
}
#PhoneNumber{
    background-color:rgb(194, 231, 245)
}
}
